$bps: (xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@mixin profil-xs(){
    display:flex;
    flex-direction:column;
    text-align:center;

    #entete {
        display:flex;
        flex-direction: column;
        margin:20px;
        #profil_name {
            font-size: 2em;;
        }
        #profil_title {
    
        }
    }

    #trait{
        position:relative;
        z-index: -1;
        top:100px;
        border-top:2px solid #000;
    }
    #avatar {
        width:200px;
        margin:auto;
        img{
            border-radius: 50%;
            border:black solid 2px;
            width:100%;
        }
    }
    #profil_data {
        margin:20px;
        #pres {
            h2 {
                margin-bottom: 10px;
            }
            p{
                display:inline-block;
                text-indent: 1.5em;
                text-align:left;
            }
        }

        #profil_infos{
            display:flex;
            flex-direction: column;
            justify-content: center;
            //align-items: center;
            margin:5px;
            width:300px;
            div {
                display:flex;
                flex-direction: row;
            //     // width:100%;
            //     justify-content:left;
                
                 i {
                     width:30px;
                     height:30px;
                    
                 }
                p {
                    margin-left: 10px;;
                    //display:inline-block;
                    //width:90%;
                    text-align:left;
                }
            }
        }
    }
}
@mixin profil-sm(){
    #entete {
        height:100px;
        
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
    }
    #avatar {
        width:200px;
    }
}
@mixin profil-md(){

}
@mixin profil-lg(){

}
@mixin profil-xl(){

}
@mixin profil-xxl(){

}


@mixin profil($bp)  {
        @if($bp == 'xs'){
            @include profil-xs()
        }
        @if($bp == 'sm'){
            @include profil-sm()
        }
        @if($bp == 'md'){
            @include profil-md()
        }
        @if($bp == 'lg'){
            @include profil-lg()
        }
        @if($bp == 'xl'){
            @include profil-xl()
        }
        @if($bp == 'xxl'){
            @include profil-xxl()
        }
    }


/*css pour ecran */
.profil {
    @media screen  {
        @each $name,$size in $bps{

            @media (min-width : #{$size} )
            {
            
                @include profil($name)
            
            }
        }

    }
}