$bps: (xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@mixin main-xs(){
    // width:90%;
    margin:auto;
    // display:flex;
    // flex-direction: column;
    // justify-content: center;
    section {
        width:100%;
    }
}
@mixin main-sm(){

}
@mixin main-md(){

}
@mixin main-lg(){
    margin:auto;
    width:992px;
}
@mixin main-xl(){

}
@mixin main-xxl(){

}


@mixin main($bp)  {
        @if($bp == 'xs'){
            @include main-xs()
        }
        @if($bp == 'sm'){
            @include main-sm()
        }
        @if($bp == 'md'){
            @include main-md()
        }
        @if($bp == 'lg'){
            @include main-lg()
        }
        @if($bp == 'xl'){
            @include main-xl()
        }
        @if($bp == 'xxl'){
            @include main-xxl()
        }
    }


/*css pour ecran */
main {
    @media screen  {
        @each $name,$size in $bps{

            @media (min-width : #{$size} )
            {
            
                @include main($name)
            
            }
        }

    }
}