$bps: (xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@mixin formations-xs(){
    display:flex;
    flex-direction: column;
    width:100%;
    margin-bottom: 30px;
    h2 {
        height:30px;
    }
    .formation {
        display:flex;
        .content {
            h2 {
                text-indent:10px;
            }
            p {
                margin:10px;
                // text-indent: 5px;
            }
            ul {
                position:relative;
                left:-36px;
            }
        }
    }
}
@mixin formations-sm(){

}
@mixin formations-md(){

}
@mixin formations-lg(){

}
@mixin formations-xl(){

}
@mixin formations-xxl(){

}


@mixin formations($bp)  {
        @if($bp == 'xs'){
            @include formations-xs()
        }
        @if($bp == 'sm'){
            @include formations-sm()
        }
        @if($bp == 'md'){
            @include formations-md()
        }
        @if($bp == 'lg'){
            @include formations-lg()
        }
        @if($bp == 'xl'){
            @include formations-xl()
        }
        @if($bp == 'xxl'){
            @include formations-xxl()
        }
    }


/*css pour ecran */
.formations {
    @media screen  {
        @each $name,$size in $bps{

            @media (min-width : #{$size} )
            {
            
                @include formations($name)
            
            }
        }

    }
}