/* charte graphique 

le vert clair   cdd24d
le vert foncé   61ae3f
le bleu         2215c9

police generale
font-family: 'Merienda', cursive;

police titre
font-family: 'Share Tech Mono', monospace;


police loisirs
font-family: 'Shadows Into Light', cursive;


*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /*background-color: white;*/
    font-family: 'Merienda', cursive;
}
.container {
    max-width:1199px;
    margin:auto;
    width:100%;

    
    z-index:100;
    padding:1rem;
}

nav {
    height:3rem;
    background-color:black;
}


#infos {
    color: black;
    background-color: #cdd24d;
    display:flex;
    
}
#infos .container {
    display:flex;
    justify-content:space-between;  
}
#adresse {
    padding:1rem;
}

#titre {
    font-family: 'Share Tech Mono', monospace;    
    color:#2215c9;
    text-align:center;
}

#titre h1 {
    font-size:2rem;
}

#titre a {
    font-size:3rem;
}
#perso_box {
    position:relative; 
}
#perso_box .container {
    justify-content:space-between;
    display:flex;
}

.clip_div {
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    width:100%;
    height:100%;
    position:absolute;
    background-color: #cdd24d;
    top:0;
    z-index:-10;
}

#diplomes {
    padding:1rem;
    flex-basis:40%;
}
#diplomes p{
    display:inline-block;
    padding:1rem;
    border:solid black 3px;
    background-color:white;
}

#savoirs-etre {
    color: #cdd24d;
    font-size:1.5rem;
    padding:1rem;
    display:inline-block;
    margin-top:5rem;
    
    /*background-color:white;*/
}
#savoirs-etre li {
    list-style:none;
}


#competences_box {
    position:relative;
    color: white;
    background-color: #2215c9;
   
}

#competences_box h1 {
    padding:1rem;
}
#comps {
    padding:1rem;
    display:flex;
    justify-content:space-evenly;
   flex-wrap:wrap;
}

#clip2 {
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    width:100%;
    height:20%;
    position:absolute;
    background-color: #2215c9;
    top:-20%;
    z-index:-5;    
}


#experiences_box {
    background-color:#cdd24d;
    position:relative; 
}

#clip3 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 10%);



    width:100%;
    height:20%;
    position:absolute;
    background-color: #2215c9;
    top:99%;
    z-index:1;    
}
#loisirs {
    color:#cdd24d;
    font-family: 'Shadows Into Light', cursive;
}
#clip4 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 10%);



    width:100%;
    height:20%;
    position:absolute;
    background-color: #cdd24d;
    top:99%;
    z-index:1;    
}

.skills {
    flex-basis:25%;
}

.skills ul {
    list-style:none;
}

.blue {
    color:#2215c9;
}

#antibugwrap0 {
    position:relative;
    /*background-color: #cdd24d;*/
    height:5rem;
}