/* charte graphique 

le vert clair   c7ffcd
le bleu clair   d0ddff

police generale
font-family: 'Merienda', cursive;

police titre
font-family: 'Share Tech Mono', monospace;


police loisirs
font-family: 'Shadows Into Light', cursive;


*/


/* ### pour la page */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /*background-color: white;*/
    font-family: 'Merienda', cursive;
}
.container {
    max-width:1199px;
    margin:auto;
    width:100%;  
    z-index:100;
    padding:1rem;
}

/* ### Navigation */
nav {
    /*height:3rem;*/
    background-color:black;
    vertical-align: center;
    color:white;
    display:flex;
}
nav a {
    color:white;
    /*font-size:2rem;*/
}
nav a, nav p {
    padding-left:1rem;
    padding-right:1rem;
}
nav i {
    font-size:2rem;
}
nav a {
    text-decoration:none;
}
nav a:hover{
    text-decoration: underline;
}
nav .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
nav .container div{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}
/* ### haut de page infos et titre */
#infos {
    display:flex;
}
#infos .container {
    display:flex;
    justify-content:space-between;  
}
#adresse {
    flex-basis:40%;
    padding:1rem;
}
#adresse a {
    font-size:3rem;
}
#titre {

    text-align:center;
    /*margin:auto;*/
    margin-top:auto;
    margin-bottom:auto;
    flex-basis:50%;
}

#titre h1 {
    font-size:2rem;
}


/* ### encart savoirs etres */
#perso_box {
    position:relative; 
}
#perso_box .container {
    justify-content:flex-end;
    display:flex;
}

#savoirs-etre {
    font-size:1.5rem;
    padding:1rem;
}
#savoirs-etre ul {
    display:flex;

}
#savoirs-etre li {
    padding:0.5rem;
    list-style:none;
}

/* ### encart competences */
#competences_box {
 
}

#comps {
    background-color: #d0ddff;
    border-radius:5px;
    padding:2rem;

}
#sub_comps {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    text-align: flex-start;
    flex-wrap:wrap;
    padding-left:1rem;
}
#sub_comps p {
    padding-left:1rem;
}
.sub_comp {
    /*margin-left:0;*/
    /*flex-basis:50%;*/
}
.skills {
    /*width:100%;*/
}

.skills ul {
    list-style:none;
    padding-inline-start:0;
}

/* ### encart experiences */

#experiences_box {

}
#experiences_content {
    border-radius:5px;
    padding:2rem;
    background-color:#c7ffcd;
    margin:auto;
    
}
#experiences_content div{ 
    padding:1rem;
}
#experiences_content ul li{
    list-style: none;
}
/* ### encart loisirs */
#loisirs_box {

}
#loisirs_content {
    border: black solid 1px;
    border-radius:5px;
    padding:2rem;
}
#loisirs_content ul{
    display:flex;
    flex-wrap:wrap;
}
#loisirs_content ul li{
    display:inline-block;
    list-style: none;
    padding:0.5rem;
}
