/* css pour test */
#bp-xs {
  color: black;
  font-weight: none;
}

#bp-sm {
  color: black;
  font-weight: none;
}

#bp-md {
  color: black;
  font-weight: none;
}

#bp-lg {
  color: black;
  font-weight: none;
}

#bp-xl {
  color: black;
  font-weight: none;
}

#bp-xxl {
  color: black;
  font-weight: none;
}

/*css pour ecran */
@media screen and (min-width: 0) {
  #bp-xs {
    color: black;
    font-weight: none;
  }
  #bp-sm {
    color: black;
    font-weight: none;
  }
  #bp-md {
    color: black;
    font-weight: none;
  }
  #bp-lg {
    color: black;
    font-weight: none;
  }
  #bp-xl {
    color: black;
    font-weight: none;
  }
  #bp-xxl {
    color: black;
    font-weight: none;
  }
  /*en gras pr le bp courant */
  #bp-xs {
    color: red;
    font-weight: bold;
  }
}

@media screen and (min-width: 576px) {
  #bp-xs {
    color: black;
    font-weight: none;
  }
  #bp-sm {
    color: black;
    font-weight: none;
  }
  #bp-md {
    color: black;
    font-weight: none;
  }
  #bp-lg {
    color: black;
    font-weight: none;
  }
  #bp-xl {
    color: black;
    font-weight: none;
  }
  #bp-xxl {
    color: black;
    font-weight: none;
  }
  /*en gras pr le bp courant */
  #bp-sm {
    color: red;
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) {
  #bp-xs {
    color: black;
    font-weight: none;
  }
  #bp-sm {
    color: black;
    font-weight: none;
  }
  #bp-md {
    color: black;
    font-weight: none;
  }
  #bp-lg {
    color: black;
    font-weight: none;
  }
  #bp-xl {
    color: black;
    font-weight: none;
  }
  #bp-xxl {
    color: black;
    font-weight: none;
  }
  /*en gras pr le bp courant */
  #bp-md {
    color: red;
    font-weight: bold;
  }
}

@media screen and (min-width: 992px) {
  #bp-xs {
    color: black;
    font-weight: none;
  }
  #bp-sm {
    color: black;
    font-weight: none;
  }
  #bp-md {
    color: black;
    font-weight: none;
  }
  #bp-lg {
    color: black;
    font-weight: none;
  }
  #bp-xl {
    color: black;
    font-weight: none;
  }
  #bp-xxl {
    color: black;
    font-weight: none;
  }
  /*en gras pr le bp courant */
  #bp-lg {
    color: red;
    font-weight: bold;
  }
}

@media screen and (min-width: 1200px) {
  #bp-xs {
    color: black;
    font-weight: none;
  }
  #bp-sm {
    color: black;
    font-weight: none;
  }
  #bp-md {
    color: black;
    font-weight: none;
  }
  #bp-lg {
    color: black;
    font-weight: none;
  }
  #bp-xl {
    color: black;
    font-weight: none;
  }
  #bp-xxl {
    color: black;
    font-weight: none;
  }
  /*en gras pr le bp courant */
  #bp-xl {
    color: red;
    font-weight: bold;
  }
}

@media screen and (min-width: 1400px) {
  #bp-xs {
    color: black;
    font-weight: none;
  }
  #bp-sm {
    color: black;
    font-weight: none;
  }
  #bp-md {
    color: black;
    font-weight: none;
  }
  #bp-lg {
    color: black;
    font-weight: none;
  }
  #bp-xl {
    color: black;
    font-weight: none;
  }
  #bp-xxl {
    color: black;
    font-weight: none;
  }
  /*en gras pr le bp courant */
  #bp-xxl {
    color: red;
    font-weight: bold;
  }
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-color: grey;
}

header #logo {
  text-align: center;
}

header #menu ul {
  list-style-type: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

/*css pour ecran */
@media screen and (min-width: 0px) {
  header nav #logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60px;
    width: 100%;
    padding-left: 20%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav #menu {
    display: none;
  }
  header nav #menu ul {
    background-color: yellow;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav #menu ul li a {
    text-align: center;
    font-size: 40px;
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
  }
  header nav #menu ul li a:hover {
    border: 5px solid black;
    border-radius: 5%;
    font-size: 50px;
  }
  header nav #burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
    height: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 40px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
  }
}

@media screen and (min-width: 576px) {
  header nav #logo {
    height: auto;
    padding: 0;
  }
  header nav #burger {
    display: none;
  }
  header nav #menu {
    display: block;
  }
  header nav #menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

header h1 {
  background-color: blue;
}
/*# sourceMappingURL=main_style.css.map */