/* css pour test */
#bp-xs {
  color: black;
  font-weight: none;
}

#bp-sm {
  color: black;
  font-weight: none;
}

#bp-md {
  color: black;
  font-weight: none;
}

#bp-lg {
  color: black;
  font-weight: none;
}

#bp-xl {
  color: black;
  font-weight: none;
}

#bp-xxl {
  color: black;
  font-weight: none;
}

/*css pour ecran */
@media screen and (min-width: 0) {
  #bp-xs {
    color: black;
    font-weight: none;
  }
  #bp-sm {
    color: black;
    font-weight: none;
  }
  #bp-md {
    color: black;
    font-weight: none;
  }
  #bp-lg {
    color: black;
    font-weight: none;
  }
  #bp-xl {
    color: black;
    font-weight: none;
  }
  #bp-xxl {
    color: black;
    font-weight: none;
  }
  /*en gras pr le bp courant */
  #bp-xs {
    color: red;
    font-weight: bold;
  }
}

@media screen and (min-width: 576px) {
  #bp-xs {
    color: black;
    font-weight: none;
  }
  #bp-sm {
    color: black;
    font-weight: none;
  }
  #bp-md {
    color: black;
    font-weight: none;
  }
  #bp-lg {
    color: black;
    font-weight: none;
  }
  #bp-xl {
    color: black;
    font-weight: none;
  }
  #bp-xxl {
    color: black;
    font-weight: none;
  }
  /*en gras pr le bp courant */
  #bp-sm {
    color: red;
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) {
  #bp-xs {
    color: black;
    font-weight: none;
  }
  #bp-sm {
    color: black;
    font-weight: none;
  }
  #bp-md {
    color: black;
    font-weight: none;
  }
  #bp-lg {
    color: black;
    font-weight: none;
  }
  #bp-xl {
    color: black;
    font-weight: none;
  }
  #bp-xxl {
    color: black;
    font-weight: none;
  }
  /*en gras pr le bp courant */
  #bp-md {
    color: red;
    font-weight: bold;
  }
}

@media screen and (min-width: 992px) {
  #bp-xs {
    color: black;
    font-weight: none;
  }
  #bp-sm {
    color: black;
    font-weight: none;
  }
  #bp-md {
    color: black;
    font-weight: none;
  }
  #bp-lg {
    color: black;
    font-weight: none;
  }
  #bp-xl {
    color: black;
    font-weight: none;
  }
  #bp-xxl {
    color: black;
    font-weight: none;
  }
  /*en gras pr le bp courant */
  #bp-lg {
    color: red;
    font-weight: bold;
  }
}

@media screen and (min-width: 1200px) {
  #bp-xs {
    color: black;
    font-weight: none;
  }
  #bp-sm {
    color: black;
    font-weight: none;
  }
  #bp-md {
    color: black;
    font-weight: none;
  }
  #bp-lg {
    color: black;
    font-weight: none;
  }
  #bp-xl {
    color: black;
    font-weight: none;
  }
  #bp-xxl {
    color: black;
    font-weight: none;
  }
  /*en gras pr le bp courant */
  #bp-xl {
    color: red;
    font-weight: bold;
  }
}

@media screen and (min-width: 1400px) {
  #bp-xs {
    color: black;
    font-weight: none;
  }
  #bp-sm {
    color: black;
    font-weight: none;
  }
  #bp-md {
    color: black;
    font-weight: none;
  }
  #bp-lg {
    color: black;
    font-weight: none;
  }
  #bp-xl {
    color: black;
    font-weight: none;
  }
  #bp-xxl {
    color: black;
    font-weight: none;
  }
  /*en gras pr le bp courant */
  #bp-xxl {
    color: red;
    font-weight: bold;
  }
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  width: 100%;
}

/*css pour ecran */
@media screen and (min-width: 0) {
  main {
    width: 100%;
    margin: 0;
  }
  main section {
    margin-top: 10px;
  }
}

@media screen and (min-width: 992px) {
  main {
    margin: auto;
    width: 992px;
  }
}

.timeline .circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 7px;
  border-radius: 50%;
  background-color: red;
  -webkit-box-shadow: inset 0 0 0 1000px red;
          box-shadow: inset 0 0 0 1000px red;
  position: relative;
  z-index: 2;
}

.timeline .v_ligne {
  height: 100%;
  min-height: 100%;
  width: 5px;
  margin: auto;
  background-color: black;
  -webkit-box-shadow: inset 0 0 0 1000px black;
          box-shadow: inset 0 0 0 1000px black;
  display: block;
  position: relative;
  top: -20px;
  z-index: 1;
}

header {
  background-color: grey;
  width: 100%;
}

header #logo {
  text-align: center;
}

header #menu ul {
  list-style-type: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

/*css header pour ecran */
@media screen and (min-width: 0px) {
  header nav #logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60px;
    width: 100%;
    padding-left: 20%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav #menu {
    display: none;
  }
  header nav #menu ul {
    background-color: yellow;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav #menu ul li a {
    text-align: center;
    font-size: 40px;
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
  }
  header nav #menu ul li a:hover {
    border: 5px solid black;
    border-radius: 5%;
    font-size: 50px;
  }
  header nav #burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
    height: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 40px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
  }
}

@media screen and (min-width: 576px) {
  header nav #logo {
    height: auto;
    padding: 0;
  }
  header nav #burger {
    display: none;
  }
  header nav #menu {
    display: block;
  }
  header nav #menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

header h1 {
  background-color: blue;
}

/*css pour ecran */
@media screen and (min-width: 0) {
  .technos {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .technos h2 {
    display: block;
  }
  .technos .techno {
    margin: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80px;
  }
  .technos .techno h3 {
    text-align: center;
    height: 30px;
  }
  .technos .techno img {
    margin: auto;
    width: 60px;
    height: 60px;
  }
}

/*css pour ecran */
@media screen and (min-width: 0) {
  .profil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .profil #entete {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px;
  }
  .profil #entete #profil_name {
    font-size: 2em;
  }
  .profil #trait {
    position: relative;
    z-index: -1;
    top: 100px;
    border-top: 2px solid #000;
  }
  .profil #avatar {
    width: 200px;
    margin: auto;
  }
  .profil #avatar img {
    border-radius: 50%;
    border: black solid 2px;
    width: 100%;
  }
  .profil #profil_data {
    margin: 20px;
  }
  .profil #profil_data #pres h2 {
    margin-bottom: 10px;
  }
  .profil #profil_data #pres p {
    display: inline-block;
    text-indent: 1.5em;
    text-align: left;
  }
  .profil #profil_data #profil_infos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 5px;
    width: 300px;
  }
  .profil #profil_data #profil_infos div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .profil #profil_data #profil_infos div i {
    width: 30px;
    height: 30px;
  }
  .profil #profil_data #profil_infos div p {
    margin-left: 10px;
    text-align: left;
  }
}

@media screen and (min-width: 576px) {
  .profil #entete {
    height: 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .profil #avatar {
    width: 200px;
  }
}

/*css pour exps (experiences) */
@media screen and (min-width: 0) {
  .exps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
  }
  .exps h2 {
    height: 30px;
  }
  .exps .exp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .exps .exp .content h2 {
    text-indent: 10px;
  }
  .exps .exp .content p {
    margin: 10px;
    text-indent: 5px;
  }
  .exps .exp .content ul {
    position: relative;
    left: -36px;
  }
}

/*css pour ecran */
@media screen and (min-width: 0) {
  .formations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
  }
  .formations h2 {
    height: 30px;
  }
  .formations .formation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .formations .formation .content h2 {
    text-indent: 10px;
  }
  .formations .formation .content p {
    margin: 10px;
  }
  .formations .formation .content ul {
    position: relative;
    left: -36px;
  }
}

/*css pour ecran */
@media screen and (min-width: 0) {
  .loisirs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .loisirs .loisir {
    width: 200px;
  }
}

@media print {
  body {
    position: fixed;
    top: 0mm;
    left: 0mm;
    width: 210mm;
    height: 297mm;
    margin: 0mm 0mm 0mm 0mm;
    padding: 20mm 20mm 20mm 20mm;
    border: solid green 1px;
    outline: solid black 1px;
  }
  header {
    display: none;
  }
  .profil #avatar {
    display: block;
    background-color: white;
    width: 5cm;
    height: 5cm;
    position: absolute;
    top: 0;
    left: 0;
  }
  .profil #avatar img {
    margin: 0.5cm;
    width: 4cm;
    border-radius: 50%;
  }
  .profil #entete {
    padding: 0.3cm;
    display: block;
    background-color: white;
    width: 16cm;
    height: 5cm;
    position: absolute;
    top: 0;
    left: 5cm;
    text-align: center;
  }
  .profil #entete #profil_name {
    font-size: 30pt;
  }
  .profil #entete .profil_title p {
    font-size: 25pt;
  }
  .profil #profil_data {
    display: block;
    background-color: white;
    position: absolute;
    top: 5cm;
    left: 0;
    width: 10.5cm;
    height: 8cm;
    padding: 0.5cm;
  }
  .profil #profil_data #pres h2 {
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    text-align: center;
  }
  .profil #profil_data #pres p {
    text-indent: 20pt;
    font-size: 15pt;
  }
  .profil #profil_data #profil_infos {
    padding-top: 0.3cm;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 14pt;
  }
  .profil #profil_data #profil_infos div i {
    width: 1cm;
    text-align: center;
  }
  .profil #profil_data #profil_infos div p {
    display: inline-block;
  }
  #technos {
    background-color: white;
    display: block;
    position: absolute;
    width: 10.5cm;
    height: 8cm;
    left: 10.5cm;
    top: 5cm;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
  }
  #technos h2 {
    text-align: center;
  }
  #technos .technos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #technos .technos h2 {
    display: block;
  }
  #technos .technos .techno {
    margin: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80px;
  }
  #technos .technos .techno h3 {
    text-align: center;
    height: 30px;
  }
  #technos .technos .techno img {
    margin: auto;
    width: 60px;
    height: 60px;
  }
  #formation {
    background-color: white;
    display: block;
    position: absolute;
    width: 10.5cm;
    height: 13cm;
    left: 0;
    top: 13cm;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
  #formation h1 {
    text-align: center;
  }
  #formation h2 {
    height: 30px;
  }
  #formation .formations {
    padding-top: 0.5cm;
  }
  #formation .formations .formation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #formation .formations .formation .content h2 {
    text-indent: 10px;
  }
  #formation .formations .formation .content p {
    margin: 10px;
  }
  #formation .formations .formation .content ul {
    position: relative;
    left: -36px;
  }
  #exps {
    background-color: white;
    position: absolute;
    width: 10.5cm;
    height: 13cm;
    left: 10.5cm;
    top: 13cm;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
  #exps h1 {
    text-align: center;
  }
  #exps .exps {
    padding-top: 0.5cm;
  }
  #exps .exps h2 {
    height: 30px;
  }
  #exps .exps .exp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #exps .exps .exp .content h2 {
    text-indent: 10px;
  }
  #exps .exps .exp .content p {
    margin: 10px;
    text-indent: 5px;
  }
  #exps .exps .exp .content ul {
    position: relative;
    left: -39px;
  }
  #loisirs {
    background-color: white;
    display: block;
    position: absolute;
    width: 10.5cm;
    height: 3.7cm;
    left: 0cm;
    top: 26cm;
  }
}
/*# sourceMappingURL=main_style.css.map */