$bps: (xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@mixin exps-xs(){
    display:flex;
    flex-direction: column;
    width:100%;
    margin-bottom: 30px;
    // margin-left:10%;
    h2 {
        height:30px;
        // background-color: blue;

    }
    .exp {
        display:flex;

        .content {
            h2 {
                text-indent:10px;
            }
            p {
                margin:10px;
                text-indent: 5px;
            }
            ul {
                position:relative;
                left:-36px;
            }
        }
    }



}
@mixin exps-sm(){

}
@mixin exps-md(){

}
@mixin exps-lg(){

}
@mixin exps-xl(){

}
@mixin exps-xxl(){

}


@mixin exps($bp)  {
        @if($bp == 'xs'){
            @include exps-xs()
        }
        @if($bp == 'sm'){
            @include exps-sm()
        }
        @if($bp == 'md'){
            @include exps-md()
        }
        @if($bp == 'lg'){
            @include exps-lg()
        }
        @if($bp == 'xl'){
            @include exps-xl()
        }
        @if($bp == 'xxl'){
            @include exps-xxl()
        }
    }


/*css pour exps (experiences) */
.exps {
    @media screen  {
        @each $name,$size in $bps{

            @media (min-width : #{$size} )
            {
            
                @include exps($name)
            
            }
        }

    }
}